@import "import/variables";
@import "import/mixins";
body{
    background: white;
    .container{
        @include cardStyle();
        padding: 3%;
        position: relative;
        top: 3vh;
        .right{
            border-left: solid 2px whitesmoke;
        }
    }
}