doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    meta(charset='UTF-8')
    title URL Shortener
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    .col-xs-12.col-sm-10.col-sm-offset-1.container
      .col-xs-12.col-sm-6.left
        h1.header.col-xs-12 API Projects: URL shortener
        p
          | By Alejandro Chaves | 
          a(href='https://github.com/alejandrochvs/timestamp') Project GitHub
        section
          h2 Instructions
          ol
            li
              | I can pass a URL as a parameter and I will receive a shortened URL in the JSON responsee.
            li
              | If I pass an invalid URL that doesn&apos;t follow the valid http://www.example.com format, the JSON response will contain an error instead.
            li When I visit that shortened URL, it will redirect me to my original link.
        h2 Example usage:
        |  
        a.btn.btn-default.first(href='http://www.alejandrochvs.com/') www.alejandrochvs.com
        br
        |  
        a.btn.btn-default.second(href='http://www.google.com/') www.google.com
      .col-xs-12.col-sm-6.right
        h2 Test your output:
        h3
          input.input(type='text', name='url', placeholder='https://www.google.com/')
          |  
          button#Go.btn.btn-success Go
        h4
          b Examples
        |  - https://github.com/
        br
        |  - https://www.freecodecamp.com/
        br
        |  - https://www.heroku.com/5
        br
        |  - http://alejandrochvs.com/
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=', crossorigin='anonymous')
    script(src='./script/main.js')
